<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/github.min.css">

  {% include head.html %}

  <body>

    {% include header.html %}

    <!-- content start -->

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    <!-- content end -->

    {% include footer.html %}
    {% include javascripts.html %}

    <!-- Add highlight.js script and initialization -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
    <script>
      // Initialize highlight.js
      document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('pre code').forEach((block) => {
          hljs.highlightElement(block);
        });
      });
    </script>

  </body>
</html>
